@model IEnumerable<CMS.Domain.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@foreach (var post in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@post.Title</h3>
            <b><i>Created By</i></b> @post.Author
            <b><i>Time</i></b> @post.CreatedDate
        </div>
        <div class="panel-body">
            @if (String.IsNullOrEmpty(post.FeaturedImageUrl))
            {
                <img src="@Url.Content("~/Imagefiles/imgnotfound.png")" id="img" class="img-thumbnail" style="width:20%" />

            }
            else
            {
                <img src="@Url.Content(@post.FeaturedImageUrl)" id="img" class="img-thumbnail" style="width:20%" />

            }
            @Html.Raw(post.Content)
        </div>
        <div class="panel-footer">

        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".txt_truncate").each(function (i) {
                var len = $(this).text().trim().length;
                if (len > 200) {
                    $(this).text($(this).text().substr(0, 200) + '...');
                }
            });
        });
    </script>

}
