@model CMS.Domain.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<br />
<h3>DashBoard</h3>
<br />
<br />


<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" style="height: 125px;">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon" style="margin-top: 11px;margin-right: 5%;">
                    <i class="fa fa-fw fa-envelope"></i>
                </div>
                <div class="mr-5">You have posted @Model.Posts.Count() times</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" asp-controller="Post" asp-action="LastPost" >
                <span class="float-left">View Your Last Post</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" style="height: 125px;">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon" style="margin-top: 11px;margin-right: 5%;">
                    <i class="fa fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">You have commented @Model.Comments.Count() times</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" asp-controller="Post" asp-action="Index">
                <span class="float-left">View Posts You Might Like</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" style="height: 125px;">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon" style="margin-top: 11px;margin-right: 5%;">
                    <i class="fa fa-fw fa-send"></i>
                </div>
                <div class="mr-5">@Model.CommentsApproval.Count() comments are pending for approval</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" asp-controller="Post" asp-action="ApproveComment">
                <span class="float-left">View Pending Comments</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3" style="height: 125px;">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon" style="margin-top: 11px;margin-right: 5%;">
                    <i class="fa fa-fw fa-list-alt"></i>
                </div>
                <div class="mr-5">Your Posts have been viewed @Model.PostView.Sum(x => x.ViewCount) times</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" asp-controller="Post" asp-action="Create">
                <span class="float-left">Create a new post</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<br />

<br />
<br />
<h3>Your Posts</h3>
@foreach (var post in Model.Posts)
{
    int a = (int)DateTime.Now.Subtract(post.CreatedDate).TotalSeconds;
    string tt = null;
    if (a < 60)
    {
        tt = " less than a minute ago";
    }
    else if (a < 3600)
    {
        tt = a / 60 + " minute ago";
    }
    else if (a < 86400)
    {
        tt = a / 3600 + " hour ago";
    }
    else
    {
        tt = a / 86400 + " day ago";
    }

    <div class="panel-body">
        <div style="width:30%; float:left" ;>
            @if (String.IsNullOrEmpty(post.FeaturedImageUrl) && String.IsNullOrEmpty(post.Url))
            {
                <img src="@Url.Content("~/Imagefiles/imgnotfound.png")" class="img-thumbnail" />
            }
            else if (String.IsNullOrEmpty(post.FeaturedImageUrl))
            {

                string s = "http://img.youtube.com/vi/" + @post.Url + "/maxresdefault.jpg";
                <img src="@s" class="img-thumbnail" />

            }
            else if (String.IsNullOrEmpty(post.Url))
            {
                <img src="@Url.Content(@post.FeaturedImageUrl)" class="img-thumbnail" />
            }
        </div>
        <div style="width:67%; float:right;">
            <br />

            @if (@User.Identity.Name.Equals(@post.Author))
            {
                <h4> <b>@post.Title <a asp-action="Edit" asp-route-id="@post.PostID"><span class="glyphicon glyphicon-edit"></span></a><a asp-action="Delete" asp-route-id="@post.PostID"><span class="glyphicon glyphicon-trash"></span></a></b></h4>
            }
            else
            {
                <h4> <b>@post.Title </b></h4>
            }
            <font size="2">
                <b><i>Created By</i></b> @post.Author &nbsp; @tt
            </font>
            <br />
            <br />


            @{
                string x = post.Content;

                if (x != null && x.Length > 400)
                {
                    x = x.Substring(0, 400);
                }
            }

            @Html.Raw(x)<b> . . .</b>
            <a asp-action="Postview" asp-route-id="@post.PostID"> View more</a>
            <br />
            <br />

            @foreach (var terms in @post.Terms)
            {

                if (terms.Type.Equals("0"))
                {
                    <a asp-action="PostByTerm" asp-route-id="@terms.TermID"><span class="label label-primary"> @terms.Content</span></a>
                }
                else
                {
                    <a asp-action="PostByTerm" asp-route-id="@terms.TermID"><span class="label label-success"> @terms.Content</span></a>
                }

            }

        </div>
    </div>
}





@section scripts {

    <script type="text/javascript">

    </script>

}