@model IEnumerable<CMS.Domain.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
}
            @foreach (var post in Model)
            {
                
                <div class="panel panel-collapse">
                    <div class="panel-body">
                        <div style="width:30%; float:left" ;>
                            @if (String.IsNullOrEmpty(post.FeaturedImageUrl) && String.IsNullOrEmpty(post.Url))
                             {
                                   <img src="@Url.Content("~/Imagefiles/imgnotfound.png")" class="img-thumbnail" />
                            }
                            else if (String.IsNullOrEmpty(post.FeaturedImageUrl))
                            {

                                string s = "http://img.youtube.com/vi/" + @post.Url + "/maxresdefault.jpg";
                                <img src="@s" class="img-thumbnail" />

                            }
                            else if (String.IsNullOrEmpty(post.Url))
                            {
                                <img src="@Url.Content(@post.FeaturedImageUrl)" class="img-thumbnail" />
                            }
                </div>
                    <div style="width:67%; float:right;">
                        
                        <h4> <b>@post.Title </b></h4>
                        <font size="2">
                            <b><i>Created By</i></b> @post.Author
                            <b><i>Time</i></b> @post.CreatedDate
                        </font>
                        <br />
                        <br />
                        @{
        string x = post.Content;

        if (x != null && x.Length > 300)
        {
            x = x.Substring(0, 300);
        }
                        }

                        @Html.Raw(x)<b> . . .</b>
                        <a asp-action="Postview" asp-route-id="@post.PostID"> View more</a>
                        <br />
                        @foreach (var terms in @post.Terms)
                        {
                            
                         if (terms.Type.Equals("0"))
                         {
                            <a asp-action="Postview" asp-route-id="@terms.TermID"><span class="label label-primary"> @terms.Content</span></a>
                         }
                         else
                         {
                            <a asp-action="Postview" asp-route-id="@terms.TermID"><span class="label label-success"> @terms.Content</span></a>
                         }

                        }

                    </div>


            @*//@Html.Raw(post.Content)*@

        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".txt_truncate").each(function (i) {
                var len = $(this).text().trim().length;
                if (len > 200) {
                    $(this).text($(this).text().substr(0, 200) + '...');
                }
            });
        });
    </script>

}
