@model IEnumerable<CMS.Domain.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@foreach (var post in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@post.Title</h3>
            <b><i>Created By</i></b> @post.Author
            <b><i>Time</i></b> @post.CreatedDate
        </div>
        <div class="panel-body">
                    <div class="col-sm">
                        @if (String.IsNullOrEmpty(post.FeaturedImageUrl))
                         {
                            <img src="@Url.Content("~/Imagefiles/imgnotfound.png")" class="img-thumbnail" style="width:20%" />
                         }
                        else
                        {
                            <img src="@Url.Content(@post.FeaturedImageUrl)" class="img-thumbnail" style="width:20%" />
                        }
                    </div>
                    <div class="col-sm">
                        @{
                         string x = post.Content;

                         if (x != null && x.Length > 300)
                         {
                            x = x.Substring(0, 300);
                         }
                        }

                        @Html.Raw(x)<b> . . .</b>
                         <a asp-action="Postview" asp-route-id="@post.PostID"> View more</a>
                    </div>


            @*//@Html.Raw(post.Content)*@

        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".txt_truncate").each(function (i) {
                var len = $(this).text().trim().length;
                if (len > 200) {
                    $(this).text($(this).text().substr(0, 200) + '...');
                }
            });
        });
    </script>

}
