@model CMS.Domain.ViewModels.PostViewModel


@{
    ViewData["Title"] = "View Post";
}


   
<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <h5>
        by @Html.DisplayFor(model => model.Author) at @Html.DisplayFor(model => model.CreatedDate)
    </h5>
    <hr />

    <img src="@Url.Content(@Model.FeaturedImageUrl)" id="img" class="img-responsive" onerror="this.onerror=null;this.src='@Url.Content("~/Imagefiles/imgnotfound.png")';" />

    <br />
    <p align="justify"><font size="3">@Html.Raw(Model.Content)</font></p>
    <br />

    <p>All Comments</p>
    @foreach (var item in Model.Comments)
    {
        <p>@Html.Raw(item.Content)</p>
        @*<p>Commented by @Html.Raw(item.)</p>*@
        <p>@Html.Raw(item.CommentTime)</p>
    }
    <br />

</div>
    <div>
        @using (Html.BeginForm("Comment", "Post", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.PostID)
        <textarea name="Content" id="editor1" class="form-control" placeholder="Write your comment here"></textarea>

        <div class="form-group">
            <input type="submit" value="Comment" class="btn btn-default" />
        </div>
}
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $("#img").on("error", function () {
            $(this).attr('src', '@Url.Content("~/Imagefiles/imgnotfound.png")');
        });
        $(document).ready(function () {
            $('#editor1').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear', 'strikethrough', 'superscript', 'subscript']],
                    ['font', ['fontname', 'fontsize', 'color']],
                    ['para', ['ul', 'ol', 'paragraph', 'style','height']],
                    ['Link',['picture','link','video','table','hr']],
                    ['Misc', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]

                ],
                dialogsInBody: true,
                dialogsFade: true,
                //fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],

            });
            $('.dropdown-toggle').dropdown();
        });
    </script>

   
}

@*<div>
        <h4>ShaifulShadman</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.other)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.other)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.other2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.other2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.other3)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.other3)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.other4)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.other4)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
