@model IEnumerable<CMS.Domain.ViewModels.PostViewModel>

    @{
    ViewData["Title"] = "Index";
    }
    <div>
        <br />
        <br />
        @foreach (var post in Model)
        {
        int a = (int)DateTime.Now.Subtract(post.CreatedDate).TotalSeconds;
        string tt = null;
        if (a < 60)
        {
        tt = " less than a minute ago";
        }
        else if (a < 3600)
        {
        tt = a / 60 + " minute ago";
        }
        else if (a < 86400)
        {
        tt = a / 3600 + " hour ago";
        }
        else
        {
        tt = a / 86400 + " day ago";
        }

        <div class="panel panel-collapse" style="margin-left:6%;margin-right:6%;">
            <div class="panel-body">
                <div style="width:30%; float:left" ;>
                    @if (String.IsNullOrEmpty(post.FeaturedImageUrl) && String.IsNullOrEmpty(post.Url))
                    {
                    <img src="@Url.Content("~/Imagefiles/imgnotfound.png")" class="img-thumbnail" />
                    }
                    else if (String.IsNullOrEmpty(post.FeaturedImageUrl))
                    {

                    string s = "http://img.youtube.com/vi/" + @post.Url + "/maxresdefault.jpg";
                    <img src="@s" class="img-thumbnail" />

                    }
                    else if (String.IsNullOrEmpty(post.Url))
                    {
                    <img src="@Url.Content(@post.FeaturedImageUrl)" class="img-thumbnail" />
                    }
                </div>
                <div style="width:67%; float:right;">
                    <br />
                    @if(String.IsNullOrEmpty(User.Identity.Name))
                      { 
                        <h4> <b>@post.Title </b></h4>
                      }
                     else if(User.Identity.Name.Equals(post.Author))
                      {
                        <h4> <b>@post.Title <a asp-action="Edit" asp-route-id="@post.PostID"><span class="glyphicon glyphicon-edit" style="width:25%;"></span></a></b></h4>
                      }
                    <font size="2">
                        <b><i>Created By</i></b> <a asp-controller="Account" asp-action="Profile">@post.Author</a> &nbsp; @tt
</font>
                    <br />
                    <br />
                    @{
                    string x = post.Content;

                    if (x != null && x.Length > 400)
                    {
                    x = x.Substring(0, 400);
                    }
                    }

                    @Html.Raw(x)<b> . . .</b>
                    <a asp-action="Postview" asp-route-id="@post.PostID"> View more</a>
                    <br />
                    <br />
                    @foreach (var terms in @post.Terms)
                    {

                    if (terms.Type.Equals("0"))
                    {
                    <a asp-action="PostByTerm" asp-route-id="@terms.TermID"><span class="label label-primary"> @terms.Content</span></a>
                    }
                    else
                    {
                    <a asp-action="PostByTerm" asp-route-id="@terms.TermID"><span class="label label-success"> @terms.Content</span></a>
                    }

                    }
                </div>
            </div>
        </div>
        }
        <br />
        <br />
        <br />
        <br />
    </div>
    @section scripts {



    }
