@model CMS.Domain.ViewModels.PostViewModel


@{
    ViewData["Title"] = "View Post";
}

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.PostID)
<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <h5>
        by @Html.DisplayFor(model => model.Author) at @Html.DisplayFor(model => model.CreatedDate)
    </h5>
    <hr />

    <p align="justify"><font size="3">@Html.DisplayFor(model => model.Content)</font></p>
    <br />
    


</div>
<div>
    <a asp-action="Comment" asp-route-id="@Model.PostID">Comment</a> |
    <a asp-action="Index">Back to List</a>
</div>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<div>
    <h4>ShaifulShadman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.other)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.other)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.other2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.other2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.other3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.other3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.other4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.other4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
