@model IEnumerable<CMS.Domain.ViewModels.TermViewModel>

@{
    ViewData["Title"] = "Manage Terms";
}

<h2>Index</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermID)
                </td>
                <td>
                    @if (item.Type == "1")
                        {
                            item.Type = "tag";
                        }
                     else
                        {
                            item.Type = "Catagory";
                        }

                    @Html.DisplayFor(modelItem => item.Type)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TermID">  <i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
